<ion-header translucent>
    <ion-toolbar>
        <ion-title>Información de la Aplicación</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Cerrar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-row>
        <ion-col>
            <p>Aplicación creada por Catriel Palomeque como prueba de conocimientos.</p>
            <p>Se han creado y utilizado tuberías, directivas, servicios, clases, estilos scss, funciones, promesas, eventos e interfaces entre otras implementaciones.</p>
            <h4>Ayuda</h4>
            <ul>
                <li>Para evitar sobrecarga al buscar, se ha aplicado un tiempo de demora de 400ms antes de comenzar la búsqueda.</li>
                <li>Puedes buscar por valores inexistentes para mostrar el blank state.</li>
                <li>Puedes deslizar un item hacia la izquierda y eliminarlo.</li>
                <li>Puedes mantener presionado un item para comenzar la seleccion múltiple.</li>
            </ul>
        </ion-col>
    </ion-row>

</ion-content>