ion-header {
    ion-toolbar {
        ion-title {
            display: flex;
            align-items: center;
            ion-img {
                height: 25px;
            }
        }
        ion-searchbar {
            &.customSb {
                --border-radius: 9999px;
            }
        }
    }
}

::ng-deep {
    cdk-virtual-scroll-viewport {
        height: 100%;
        width: 100%;
        .cdk-virtual-scroll-content-wrapper {
            max-width: 100% !important;
        }
    }
}

ion-list {
    margin-top: 10px;
    ion-item-sliding {
        margin: 8px 0px;
        ion-item {
            &.selected {
                --background: #f8c0c7;
            }
        }
        ion-thumbnail {
            border-radius: 10px;
            overflow: hidden;
        }
    }
}

ion-list {
    &.skeleton {
        margin-top: 10px;
        ion-item {
            margin: 8px 0px;
            ion-thumbnail {
                border-radius: 10px;
                overflow: hidden;
            }
        }
    }
}

ion-row {
    &.blankState {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-col {
            text-align: center;
            ion-icon {
                font-size: 100px;
                color: #888;
            }
            h3 {
                color: #444;
            }
            p {
                color: #888;
            }
        }
    }
}