<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            <ion-img src="/assets/images/logos/logo.svg"></ion-img>
        </ion-title>
        <ion-buttons slot="end">
            <ion-icon (click)="presentModal()" slot="icon-only" name="help-circle-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar data-test="searchbar" *ngIf="itemsSelected.length == 0" color="primary">
        <ion-searchbar class="customSb" [(ngModel)]="keyword" [debounce]="400" animated="true" placeholder="Busca por id o texto"></ion-searchbar>
    </ion-toolbar>
    <ion-toolbar data-test="actionbar" *ngIf="itemsSelected.length > 0" color="danger">
        <ion-buttons slot="start">
            <ion-icon (click)="deselectItems()" slot="icon-only" name="close-outline"></ion-icon>
        </ion-buttons>
        <ion-text>
            {{itemsSelected.length}} items seleccionados
        </ion-text>
        <ion-buttons slot="end">
            <ion-button (click)="deleteSelectedItems()">Eliminar</ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>


<ion-content [fullscreen]="true">

    <ion-row class="blankState" *ngIf="!loadingImages && (imagesList | filter:['id','text']:keyword).length == 0">
        <ion-col>
            <ion-icon name="search-circle-outline"></ion-icon>
            <h3>No se encontraron resultados</h3>
            <p>Intente buscar con otras palabras claves</p>
        </ion-col>
    </ion-row>

    <ion-list class="skeleton" *ngIf="loadingImages">
        <ion-item *ngFor="let item of fakeImages">
            <ion-thumbnail slot="start">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
                <h3>
                    <ion-skeleton-text [animated]="true" style="width: 20%;"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>

    </ion-list>

    <cdk-virtual-scroll-viewport *ngIf="!loadingImages && (imagesList | filter:['id','text']:keyword).length > 0" itemSize="71" minBufferPx="900" maxBufferPx="1350">
        <ion-list>
            <ion-item-sliding #sliding *cdkVirtualFor="let item of imagesList | filter:['id','text']:keyword; let key = index;">
                <ion-item [longPress]="key" (itemLongPressed)="selectItems($event)" class="item" [ngClass]="{'selected': isSelected(key)}">
                    <ion-thumbnail slot="start">
                        <ion-img [src]="item.photo"></ion-img>
                    </ion-thumbnail>
                    <ion-label>
                        <h3>Imagen {{item.id}}</h3>
                        <p>{{item.text}}</p>
                    </ion-label>
                </ion-item>
                <ion-item-options>
                    <ion-item-option (click)="delete(key, item.id); sliding.close();" color="danger">Eliminar</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </cdk-virtual-scroll-viewport>

</ion-content>